[Unit]
Description=skybridge
After=network.target skydns.service

[Service]
Type=simple
TimeoutSec=120
User=root
Group=root

Environment="PATH=/opt/cpm/bin:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin"
SyslogIdentifier=skybridge

ExecStart=/opt/cpm/bin/skybridge \
-s http://127.0.0.1:4001 \
-d "crunchy.lab."

ExecStop=/bin/killall skybridge

[Install]
WantedBy=multi-user.target

